<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li>
        <%= link_to "Destroy",
            article_path(@article),
            method: :delete,
            data: { confirm: "Are you sure?" }
        %>
    </li>
</ul>

<%= render @article.comments %>
<%# renderメソッドが@article.commentsコレクションに含まれる要素を1つずつ列挙するときに、各コメントをパーシャルと同じ名前のローカル変数に自動的に代入します。
この場合はcommentというローカル変数が使われるので、これをパーシャルの表示に利用できます。 %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
